<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Please Sign In</title>
</head>
<script type="text/javascript">
    function register(){
        window.location.href="/register";
    }
    function login(){
        document.getElementById("form1").submit();
    }
</script>
<body>
<div align="center">
    {% if message %}
    <p style="color:red">{{message}}</p>
    {% endif %}
    <form id="form1" action="/signin" method="post">
        <legend>Please sign in:</legend>
        <p><input name="username" placeholder="Username" value="{{ username }}"> </p>
        <p><input name="password" placeholder="Password" type="password"></p>
    </form>
        <button onclick="login()" style="margin:5px">Sign In</button>
        <button onclick="register()" style="margin:5px">Register</button>
</div>

</body>
</html>