<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Please Sign In</title>
</head>
<script type="text/javascript">
    function register(){
        window.location.href="/register";
    }
    function login(){
        document.getElementById("form1").submit();
    }
</script>
<body>
<div align="center">
    <h3>说明</h3>
    <p align="center">
        谢谢资瓷，手势录制样本将用于生物特征识别
        <br>
        接下来你需要注册（登陆）进行手势录制登记
        <br>
        录制的手势请一笔录完，录制不好的，可以点击
        <br>
        cancel取消，每个手势录制完成后请点击submit
        <br>
        进行提交，希望您可以多多益善，每种手势(就是手写
        <br>
        a,b,c,d,e,g)需要100个以上的样本。注意有六种手势哦！
    </p>
</div>
<div align="center">
    {% if message %}
    <p style="color:red">{{message}}</p>
    {% endif %}
    <form id="form1" action="/signin" method="post">
        <legend>Please sign in:</legend>
        <p><input name="username" placeholder="Username" value="{{ username }}"> </p>
        <p><input name="password" placeholder="Password" type="password"></p>
    </form>
        <button onclick="login()" style="margin:5px">Sign In</button>
        <button onclick="register()" style="margin:5px">Register</button>
</div>

</body>
</html>